body{
    background-image: linear-gradient(to bottom, #000000, #9e56e0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: "Rubik", sans-serif;
}

#contenido{
    background-image: url(media/background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border-radius: 10px;
    max-width: 600px;
}

header{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: linear-gradient(to bottom, #ffffff, #9d56e009);
}

h1{
    display: inline-block;
    font-family: "Handjet", sans-serif;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
    font-size: 3.5em;
}
#logods{
    display: inline-block;
    width: 10vh;
    height: 7vh;
    margin-left: 20px;
}

header p{
    color: white;
    font-size: 1.5em;
    margin-left: 30px;
    margin-right: 30px;
}

.logoredes{
    width: 5vh;
    height: 5vh;
    vertical-align: middle;
    margin: 20px;
}

main{
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

main ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
main ul li{
    margin-bottom: 10px;
    background-color: #050505b2;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: transform 0.3s;
}

main ul li:hover{
    transform: scale(1.05);
}

main ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    display: block;
    padding: 10px;
    text-align: center;
}

h2{
    color: white;
    font-size: 2em;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #050505b2;
    text-align: center;
}

#redes h2{
    margin-bottom: 10px;
}

#formdatosu{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

#formdatosu input{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.4em;
    background-color: #050505ec;
    color: white;
}

#formdatosu label{
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.4em;
    background-color: #050505b2;
}

#formmes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

#formmes textarea{
    resize: none;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.4em;
    background-color: #050505ec;
    color: white;
}

#formmes label{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.4em;
    background-color: #050505b2;
}

#formmes input[type="submit"]{
    background-color: #000000;
    min-width: 320px;
    min-height: 50px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formmes input[type="submit"]:hover{
    background-color: #9e56e0;
    color: #000000;
    transform: scale(1.03);
    transition: background-color 0.5s, transform 1s, color 0.5s;
}

@media (max-width:480px){
    #contenido{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    header{
        font-size: 1em;
    }
    h1{
        font-size: 2.5em;
    }
    #logods{
        width: 8vh;
        height: 5vh;
    }
    .logoredes{
        width: 4vh;
        height: 4vh;
    }
    main ul li a{
        font-size: 1.2em;
    }
    h2{
        font-size: 1.5em;
    }
    #formdatosu{
        display: flex;
        flex-direction: column;
    }
    #formdatosu input, label{
        width: 100%;
        box-sizing: border-box;
        font-size: 1.2em;
    }
    #formmes label,input[type="submit"], textarea{
        font-size: 1.2em;
        width: 100%;
        box-sizing: border-box;
    }
}